@import "tailwindcss";

html,
body {
  font-size: 16px;
  font-family: "Figtree";
  margin: 0;
  padding: 0;
  color: var(--color-gray-500);
}

@theme {
  --font-figtree: "Figtree", sans-serif;

  --color-yellow: hsl(47, 88%, 63%);

  --color-white: hsl(0, 0%, 100%);

  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);

  --shadow-3xl: 6px 6px 0 var(--color-gray-950);
}

@font-face {
  font-family: "Figtree";
  font-weight: 500 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
